<h1>About</h1>
</br>
</br>

<p>This app will help to keep record of all the products in the store.
There is option to register also, after which user can access the different functionalities. A registered user can add new products to the inventory database as well as user can also edit and delete the already available products. 
This app can also be used by customers to browse different products available in the store but they don't have any access to edit, delete or add new product. </p>