<h1> Edit Product Details</h1>

<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2"> Name: *</label>
        <input name="name" id="name" required value="{{ products.name }}" />
    </fieldset>  
   <fieldset class="form-group">
        <label class="control-label col-md-2"> Quantity: *</label>
        <select name="quantity" id="quantity" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2"> Department: *</label>
        <select name="department" id="department" />
            <option>Food</option>
            <option>Electronics</option>
            <option>Home essentials</option>
            <option>Health and Beauty</option>
        </select>
    </fieldset>
    <input type="hidden" name="_id" id="_id" value="{{products._id}}" />
    <button class="col-md-offset-2 btn btn-primary">Save</button>
</form>